* {
  font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    color: white;
    background-color: #F44336;
}

section{
    display: flex;
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form{
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    width: 350px;
    height: 500px;
    background-color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
}

img{
    margin: 25px;
}

.essai_text{
    color: #F44336;
    margin: 10px;
    font-size: 25px;
    font-weight:bold;
}

#essai{
    border: none;
    border-radius: 12px;
    padding: 20px 20%;
    color: white;
    background-color: hsl(345deg 100% 47%);
    text-align: center;
}

#essai::after{
    border: none;
    padding: 20px 20%;
    color: white;
    background-color: hsl(345deg 100% 47%);
}



.button{
    display: block;
    text-decoration: none;
    margin: 25px;
}



.pushable {
    background: hsl(340deg 100% 32%);
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
  }
  .front {
    display: block;
    padding: 12px 52px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: hsl(345deg 100% 47%);
    color: white;
    transform: translateY(-6px);
    border: 0; 
    cursor: pointer; 
}

  .pushable:active .front {
    transform: translateY(-2px);
  }


  .footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

  .pushable2 {
    background: hsl(340deg 100% 32%);
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    margin: 25px;
  }
  .front2 {
    display: block;
    padding: 12px 12px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: hsl(345deg 100% 47%);
    color: white;
    transform: translateY(-6px);
    border: 0; 
    cursor: pointer; 
}
.pushable2:active .front2 {
    transform: translateY(-2px);
  }

  .message{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    text-align: center;
    width: 350px;
    height: 50px;
    color: #F44336;
    border-radius: 12px;

  }

img {
  width: 100px;
  height: 100px;
  position: fixed;
  left: 5px;
  top: 5px;
  display: block; 
}

@media (max-width: 600px) {
  img {
    display:none;
  }
}